<ion-header>
    <ion-toolbar>
        <ion-title>Brain Dump</ion-title>
        <ion-buttons end>
            <button ion-button color="royal" (click)="analyze()" *ngIf="changedAndNotAnalyzedYet">
                Analyze
            </button>
            <!-- <button ion-button icon-only *ngIf="!isChanging && !isSaved">
                    <ion-icon  name=""></ion-icon>
                </button>
                <button ion-button icon-only *ngIf="isChanging">
                    <ion-icon name="cloud"></ion-icon>
                </button>
                <button ion-button icon-only *ngIf="!isChanging && isSaved">
                    <ion-icon  name="cloud-done"></ion-icon>
                </button> -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true" no-bounce>

    <ion-item>
        <ion-input [(ngModel)]="note.title" (keyup)="onSearchType($event)" autocomplete=“on” autocorrect=“on” type="text" value=""
            style=" font-weight: bold;" placeholder="Topic"></ion-input>
    </ion-item>

    <ion-item>
        <ion-textarea [(ngModel)]="note.text" (keyup)="onSearchType($event)" autocomplete=“on” autocorrect=“on” placeholder="What's on your mind?"
            rows="15"></ion-textarea>
    </ion-item>

    <tone-viewer [tone]="note.tone" *ngIf="!loadingTone"></tone-viewer>

    <div style="text-align:center;">
        <ion-spinner name="dots" *ngIf="loadingTone"></ion-spinner>
    </div>

</ion-content>