<ion-header>
    <ion-navbar>
        <ion-title><ion-icon name="lock"></ion-icon> Brain Dump</ion-title>
        <ion-buttons end>
            
            <button ion-button icon-only *ngIf="!isChanging && !isSaved">
                <!-- <ion-icon  name=""></ion-icon> -->
            </button>
            <button ion-button icon-only *ngIf="isChanging">
                    <!-- <ion-icon name="cloud"></ion-icon> -->
                </button>
            <button ion-button icon-only *ngIf="!isChanging && isSaved">
                <!-- <ion-icon  name="cloud-done"></ion-icon> -->
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content overflow-scroll="true" no-bounce>

    <ion-item>
        <ion-input [(ngModel)]="note.title" (keyup)="onSearchType($event)" type="text" value="" style=" font-weight: bold;" placeholder="Title, subject, topic..."></ion-input>
    </ion-item>

    <ion-item>
        <ion-textarea [(ngModel)]="note.text" (keyup)="onSearchType($event)" placeholder="What's on your mind?" rows="15"></ion-textarea>
    </ion-item>

</ion-content>